.sessaoPrincipal .baseDeConhecimento .conteudoDaBaseDeConhecimento30 {
  width: 30%;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 25px;
  text-align: center;
}

.sessaoPrincipal .baseDeConhecimento .conteudoDaBaseDeConhecimento50 {
  width: 50%;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 25px;
  text-align: center;
}
