body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.topo {
  padding: 17px 1rem;
}

.topo .logo {
  width: 176px;
}

.pesquisa {
  padding: 88px 50px;
  /*height: 350px;*/
  background: linear-gradient(
      90deg,
      rgba(1, 4, 58, 0.8) 0%,
      rgba(5, 12, 194, 0.8) 36.98%,
      rgba(0, 10, 255, 0.8) 72.92%,
      rgba(0, 255, 71, 0.26) 95.83%,
      rgba(0, 240, 255, 0.56) 100%
    ),
    rgba(13, 204, 229, 0.94);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.pesquisa .texto {
  color: white;
  font-size: 30px;
  font-family: sans-serif;
  margin-bottom: 20px;
}

.pesquisa .caixaDePesquisa {
  max-width: 544px;
  width: 100%;
  height: 57px;
  padding: 15px 16px 15px 30px;
  border-radius: 40px;
  background: #fff;
  align-items: center;
  box-shadow: 0px 0px 5px black;
  border: 0px;
  outline-style: none;
  display: flex;
  gap: 12px;
}

.pesquisa .caixaDePesquisa #caixaDePesquisa {
  border: 0;
  flex-grow: 1;
  outline: none;
}

.pesquisa .caixaDePesquisa #caixaDePesquisa::placeholder {
  color: #b9b1b1;
  font-family: sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* text-align: center; */
}

.sessaoPrincipal {
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.sessaoPrincipal .baseDeConhecimento {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 50%;
  width: 50%;
  gap: 20px;
}

.sessaoPrincipal .baseDeConhecimento .mobbyCidade {
}

.sessaoPrincipal .baseDeConhecimento .mobbyDocs {
}

.sessaoPrincipal .baseDeConhecimento .mobbyCandidato {
}

.sessaoPrincipal .baseDeConhecimento .ticket {
}

.sessaoPrincipal .baseDeConhecimento .solucoes {
}

.sessaoPrincipal .carrossel {
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.sessaoPrincipal .carrossel .imagens {
  /* background-image: url("https://dados-suporte.s3.sa-east-1.amazonaws.com/%5BMOBBY+APPS%5D+SLIDE+CENTRAL+DE+AJUDA+copiar.png"); */
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin-top: 20px;
  align-items: center;
  display: flex;
  max-width: 1024px;
  gap: 24px;
  transition: 500ms ease-in-out 200ms;
}

.sessaoPrincipal .carrossel .imagens img:first {
  padding-left: 24px;
}

.sessaoPrincipal .carrossel .imagens img {
  width: 100%;
  object-position: center;
}
.sessaoPrincipal .carrossel .controlesDeImagem {
  position: absolute;
  gap: 12px;
  display: flex;
  bottom: 20px;
  left: 20px;
}

.sessaoPrincipal .carrossel .controlesDeImagem .controle {
  border: solid white;
  border-width: 1px;
  border-radius: 50%;
  padding: 4px;
}

.sessaoPrincipal .carrossel .controlesDeImagem #controle-1 {
  background-color: white;
}

.rodape {
  width: 100%;
  height: 100%;
  display: flex;
  background: linear-gradient(
      90deg,
      rgba(0, 240, 255, 0.56) 0%,
      rgba(0, 255, 71, 0.26) 36.98%,
      rgba(0, 10, 255, 0.8) 72.92%,
      rgba(5, 12, 194, 0.8) 95.83%,
      rgba(1, 4, 58, 0.8) 100%
    ),
    rgba(13, 204, 229, 0.94);

  align-items: center;
  justify-content: end;
  padding: 15px 0px;
  /* margin-top: 20px; */
}

.rodape .social {
  padding: 15px 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-right: 20px;
  height: 60px;
}

@media only screen and (max-width: 768px) and (min-width: 425px) {
}

/* MOBILE */
@media only screen and (max-width: 425px) {
  /* w 100% */
}

/* MOBILE AND TABLE */
@media only screen and (min-width: 320px) and (max-width: 768px) {
  /* O TAMANHO SE ALTERA APENAS A PARTIR DO TAMANHO DO TABLET */
  .pesquisa .texto {
    font-size: 22px;
  }
}
